.sezzle-banner-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #382757;
    justify-items: center;
}

.sezzle-banner-container.indigo { background: #382757; }
.sezzle-banner-container.black { background: #303030; }

.sezzle-banner-container .sezzle-banner-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 22px auto;
}

.sezzle-banner-container .sezzle-banner-logo { width: 17px; height: 20px; }

.sezzle-banner-container .sezzle-banner-text {
    color: #fff;
    text-align: center;
    font-family: "Satoshi", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.23px;
}

.sezzle-banner-container .sezzle-banner-link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.sezzle-banner-container .sezzle-banner-link:hover { color: #D1B2F8; }
.sezzle-banner-container .sezzle-banner-link:active { color: #B585E5; }
